<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">About Us</h1>
        <div class="cover"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <p class="paragraphs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque!
        </p>
    </div>
    <div class="col-sm-6">
        <p class="paragraphs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque!
        </p>
    </div>
</div>
