<div class="jumbotron text-center">
    <div class="caption">
        <h1>ALPHA BLOG</h1>
        <%# <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> %>
        <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xl" %>
    </div>
</div>
    