<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .cover {
            background-image: url(https://www.mckinsey.com/~/media/McKinsey/Careers%20REDESIGN/For%20Students/Main/careersr2_students_1up-hero-page-header-_1536x864.ashx?mw=1536&car=546:205&cpx=Right&cpy=Center);
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
            background-position: center;
        }

        h1 {
            text-align: center;
            font-size: 40px;
        }

        .paragraphs {
            padding: 0 20px;
        }

        .paragraphs p {
            display: inline-block;
            width: 46%;
            text-align: center;
            padding: 0 10px;
        }

        .footer {
            text-align: center;
        }
    </style>
</head>


<body>
    <h1>Welcome to Alpha Blog</h1>
    <div class="cover"></div>
    <div class="paragraphs">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro a iure, dolorum
            autem reiciendis
            nihil labore, sequi soluta beatae voluptas sapiente animi quam consequuntur repudiandae deleniti provident
            adipisci atque!</p>
    </div>
    <div>
        <%= link_to 'About', about_path %>
    </div>
    <div class="footer">
        <p>Lorem ipsum  &copy; dolor sit amet consectetur adipisicing elit.</p>
    </div>
</body>

</html>