<div class="container-fluid text-center">
    <footer class="footer">
        <small>Copyright &copy; <a href="#">Alpha Blog</a> by <a href="#">Mohammad Ghorab</a></small>
    </footer>
    <nav class="footer-nav">
        <ul>
            <li><%= link_to 'About', about_path %></li>
        </ul>
    </nav>
</div>